__pycache__/
*.pyc
.venv/
.env
.mypy_cache/
.pytest_cache/
.ipynb_checkpoints/
.DS_Store

# Data and outputs
data/
persons_in_video.egg-info/dependency_links.txt
persons_in_video.egg-info/PKG-INFO
persons_in_video.egg-info/requires.txt
persons_in_video.egg-info/SOURCES.txt
persons_in_video.egg-info/top_level.txt
